<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- org.hibernate.dialect.MySQL5InnoDBDialect or org.hibernate.dialect.PostgreSQLDialect 
			or org.hibernate.dialect.Oracle10gDialect -->
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
		<!-- Enable this to see the SQL statements in the logs -->
		<property name="show_sql">true</property>
		<property name="hbm2ddl.auto">update</property>
		<listener type="post-delete"
			class="ni.org.ics.zip.web.listener.HibernateAuditLogListener" />
		<listener type="post-update"
			class="ni.org.ics.zip.web.listener.HibernateAuditLogListener" />
		<listener type="post-insert"
			class="ni.org.ics.zip.web.listener.HibernateAuditLogListener" />
	</session-factory>
</hibernate-configuration>
